html {
  font-size: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  text-rendering: optimizeLegibility;

  background-color: var(--body-bg-color);

  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (
  /*noinspection CssInvalidPropertyValue*/ height: -webkit-fill-available
) {
  html {
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
  }
  body {
    /*noinspection CssInvalidPropertyValue*/
    min-height: -webkit-fill-available;
  }
}
