:root {
  --gutter: 16px;
  --gutterSmall: 10px;

  --font-size-small: 14px;
  --font-size-title: 22px;
  --font-size-large: 40px;
  --font-size-huge: 60px;

  --body-font: "Jost", sans-serif;

  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --bg-color: #fff;
  --body-color: #1b1f31;
  --temperature-color: #7a7e9d;
  --button-bg-color: #eaeefc;
  --button-color: #4d76fd;
  --list-item-border-color: #cbcfe0;

  --transition-duration-fast: 0.3s;

  --border-radius: 10px;
  --border-radius-rounded: 1000px;

  --header-height: 80px;
}
